table {
    border-collapse: collapse; 
    margin-top: 20px;       
}

.hidden {
    display: none;
}

#loadingMessage{
    font-size: 14px;
    color: #0078d4;
    text-align: center;
}

.specs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.spec-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: start;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex-basis: calc(20% - 10px); /* Adjust width for card row */
    font-size: 16px;
}

.spec-card div {
    margin-bottom: 8px; 
}

#price-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

table td, table th {
    border: 1px solid black;
    padding: 8px;            
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3 {
    font-size: 24px;
    color: #0078d4;
    text-align: center;
}



label {
    font-weight: bold;
}

button {
    background-color: #0078d4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005a9e;
}

.container {
    text-align: center;
}

.price-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

